.secondary-section .block-container ul {
    padding-left: 18px;
}

.linkedin-container a {
    color: #0c5394;
    text-decoration: none;
}

.linkedin-container svg {
    height: 35px;
    width: 35px;
}